@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  background-color: #f1f1f1;
  color: #36d;
  font-weight: 700;
  border-radius: 8px;
  padding: 5px 12px;
}